@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

:root {
  --heading-top-padding: 20px;
}

h1 + hr {
  padding-bottom: 20px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: var(--h1-bottom-padding);
}

h2 {
  padding-top: var(--heading-top-padding);
  font-size: 28px;
  font-weight: bold;
}

h3 {
  padding-top: var(--heading-top-padding);
  font-size: 26px;
  font-weight: bold;
}

h4 {
  padding-top: var(--heading-top-padding);
  font-size: 24px;
  font-weight: bold;
}

h5 {
  padding-top: var(--heading-top-padding);
  font-size: 22px;
  font-weight: bold;
}

h6 {
  padding-top: var(--heading-top-padding);
  font-size: 20px;
  font-weight: bold;
}

ul > li {
  padding: 10px 0px;
}

a > code {
  background-color: lightblue;
  color:blue;
  padding: 2px 4px;
  border-radius: 4px;
}