langchain
langchain-core
langchain-community
langchain-text-splitters
pydantic
openai
python-dotenv
aiohttp
boto3
asyncpg
loguru
psycopg[binary]
django
djangorestframework
celery
redis
django-environ
django-prometheus